img{
    margin: 0 auto;
    height: 120px;
    width: 60%;
    padding-left: 20px;
    opacity: 70%;
}
.container1{
    /* margin-top: 0px; */
    margin-top: 0px;
    padding: 0px;
}
.containerall{
    background: url("resources/background.jpg") center/cover;
    background-attachment: fixed;
    height: 100vh;
}
.containerall2{
    background: url("resources/messi.jpg") center/cover;
    background-attachment: fixed;
    height: 100vh;
}
.containerall3{
    background: url("resources/ron.jpg") center/cover;
    background-attachment: fixed;
    height: 100vh;
}
.containerall4{
    background: url("resources/bayern.jpg") center/cover;
    background-attachment: fixed;
    height: 100vh;
}
.containerall5{
    background: url("resources/forvideo.jpg") center/cover;
    background-attachment: fixed;
    height: 1000vh;
}
.containerall6{
    background: url("resources/forplinfo.jpg") center/cover;
    background-attachment: fixed;
    height: 800vh;
}
.containerall7{
    background: url("resources/fortminfo.jpg") center/cover;
    background-attachment: fixed;
    height: 500vh;
}

/* FOR HIGHLIGHT PAGE */
.select{
    margin-left: 33%;
    margin-top: 25px;
}
h5{
    margin: 10px;
}
.lg{
    margin-left: 10%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

/* FOR VIDEO PAGE */
#root{
    margin: 10px auto;
    height: 600px;
    width: 60%;
}

/* FOR PLAYER PAGE */
.pname{
    margin-left: 30px;
    margin-top: 20px;
}
#pnsrch{
    margin-left: 140px;
}
