<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../style.css">
    <title>The Football Center | Highlights</title>
</head>
<body>
    <div class="containerall2">
        <div class="container2">
            <center>
                <h1 class="display-3 text-white"><strong>The Football Center</strong></h1>    
            </center>
            <ul class="nav nav-pills justify-content-center">
                <li class="nav-item">
                <a class="nav-link text-white" href="highlights.html">
                    <button class="btn btn-outline-light active"><h5>Highlights</h5></button>
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-white" href="player.html">
                    <button class="btn btn-outline-light"><h5>Players</h5></button>
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-white" href="team.html">
                    <button disabled="true" class="btn btn-outline-light"><h5>Teams</h5></button>
                </a>
                </li>
            </ul>
            <h5 class="text-white">
                <center>
                    Missed the game? Watch all the action here in bite-sized fashion
                </center>    
            </h5>

            <!-- header ends -->

            <div class="select">
                <h4 class="text-white">
                Select league
                </h4>
            </div>  

            <!-- League stuff here   -->
            <div class="lg">
                <div class="card bg-transparent border-info mb-3" style="width: 18rem; height: 12rem;">
                    <img src="../resources/Spanish-La-Liga-logo.png" class="card-img-top" alt="La Liga">
                    <div class="card-body">
                    <center>
                        <a href="videoll.html" class="btn btn-primary">La Liga</a>
                    </center>
                    </div>
                </div>
                <div class="card bg-transparent border-info mb-3" style="width: 18rem; height: 12rem;">
                    <img src="../resources/Premier-League-logo.png.png" class="card-img-top" alt="Premier-League">
                    <div class="card-body">
                    <center>
                        <a href="videopl.html" class="btn btn-primary">Premier League</a>
                    </center>
                    </div>
                </div>
                <div class="card bg-transparent border-info mb-3" style="width: 18rem; height: 12rem;">
                    <img src="../resources/serie-a.jpg" class="card-img-top" alt="Serie A">
                    <div class="card-body">
                    <center>
                        <a href="videosa.html" class="btn btn-primary">Serie A</a>
                    </center>
                    </div>
                </div>
                <div class="card bg-transparent border-info mb-3" style="width: 18rem; height: 12rem;">
                    <img src="../resources/bundes.png" class="card-img-top" alt="Bundesliga">
                    <div class="card-body">
                    <center>
                        <a href="videobnds.html" class="btn btn-primary">Bundesliga</a>
                    </center>
                    </div>
                </div>                
            </div>
            <center class="oth">
                <a href="video.html" class="btn btn-primary">All and Others</a>
            </center>            
        <!-- For banner -->
<!--         <div class="container1" align="center">
            <img src="../resources/banner.jpg" class="rounded-pill fixed-bottom">
        </div> -->
    </div>
</body>
</html>
